<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.bitc.testmaps.app0115">
  <!-- 인터넷 연결을 위한 권한 -->
  <uses-permission android:name="android.permission.INTERNET" />
<!--  GPS를 사용한 사용자 위치 사용 권한 -->
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<!--  네트워크를 통한 사용자 위치 사용 권한 -->
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

  <application
    android:allowBackup="true"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:fullBackupContent="@xml/backup_rules"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.App0115"
    android:usesCleartextTraffic="true"
    tools:targetApi="31">
    <activity
      android:name="com.bitc.testmaps.app0115.NaverMapActivity"
      android:exported="false" />
    <activity
      android:name="com.bitc.testmaps.app0115.MapsActivity"
      android:exported="false" />
    <activity
      android:name="com.bitc.testmaps.app0115.MainActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <meta-data
      android:name="com.kakao.sdk.AppKey"
      android:value="0164e9876ae3c1f71db3c25673c9e421" />

<!--    네이버 지도 API 사용 클라이언트ID 설정 -->
    <meta-data
      android:name="com.naver.maps.map.CLIENT_ID"
      android:value="1ebv73n8eh" />
  </application>

</manifest>
